# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
